<div class="col-sm-2 col-md-4">
  <div class="product-container">
    <div class="img-container">
      <%= image_tag(product.image_url, class: "img-responsive") %>    
    </div>    
    <h1><%= product.name %></h1>          
    <p><%= product.description %></p>
    <strong><%= product.price %>€</strong>
    <p><%= product.colour %></p>
    <p><%= link_to 'Show', product %></p>
    <p><%= link_to 'Edit', edit_product_path(product) %></p>
    <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>	
  </div>
          
</div><!-- /col -->